﻿@model SzybkiKalkulatorAco.Models.CalculatorModel

@{ ViewData["Title"] = "SzybkiKalkulatorAco"; }

<form asp-action="Calculator">

    <div class="text-center">

        <h1 class="display-4">Szybki Kalkulator</h1>
        <p></p>
        <h3>Pierwsza wartość:</h3>
        <h3><input type="number" asp-for="number1" /></p></h3> @*przypisanie pierwszej wartości do number1 używając modelu CalculatorModel*@
        <h3>Druga wartość:</h3>
        <h3><input type="number" asp-for="number2" /></h3>

        <h3>
            <input type="submit" value="+" asp-for="calculate" />
            <input type="submit" value="-" asp-for="calculate" />
            <input type="submit" value="*" asp-for="calculate" />
            <input type="submit" value="/" asp-for="calculate" />
        </h3>
        <p></p>
        <h3>Wynik:</h3>
        <h3><input type="number" asp-for="@ViewData["result"]" /></h3> @* wyświetlanie wyniku za pomocą ViewData*@

    </div>
</form>



